<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="WsUrl" value="http://*:8000/MonitorService/ws/"/>
        <add key="CpuUsageNotificationPercent" value="70"/>
        <add key="RamUsageNotificationPercent" value="70"/>
        <add key="RamUsageNotificationBytes" value="0"/>
        <add key="UpdateFrequency" value="5000"/>
    </appSettings>
</configuration>